<!-- student_form_list.html -->
{% extends 'Home_Page/Homepage.html' %}
{% block content %}
{% load static %}
<div class="d-flex justify-content-between mt-3"> 
    <h4>Home Page Student Forms</h4>
    <a class="btn btn-primary" href="{% url 'student_form' %}">Add New Student Form</a>
  </div>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
            <tr>
              <td>{{ forloop.counter }}</td>
                <td>{{ form.name }}</td>
                <td>{{ form.email }}</td>
                <td>{{ form.phone_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Banner</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this banner?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Attach event listener to all delete buttons
      $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var deleteUrl = button.data('url'); // Extract URL from data-* attribute
  
        // Update the modal's confirm delete button with the URL
        $('#confirmDeleteBtn').attr('href', deleteUrl);
      });
    });
  </script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
